<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="A" type="java.lang.String"*/-->
<!--/*@thymesVar id="B" type="java.lang.String"*/-->
<!--/*@thymesVar id="userAnswer" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet"  type="text/css"/>
    <title>Bad Input</title>
</head>
<body>
<main>
    <h1>Multiplication Quiz 3</h1>
    <h2>Bad Input</h2>
    <h3 class="message">Please, enter numbers!</h3>
    <p>
        <label class="problem_text">
            <span th:text="${session.problem.a}" class="number">2</span>
                &times;
            <span th:text="${session.problem.b}" class="number">2</span> =
        </label>
        <span th:text="${userAnswer}" class="wrong">A</span>?
    </p>
    <p>
        <a th:href="@{InputAnswer.do}" href="InputAnswer.html">Back to the Quiz</a>
    </p>
</main>
<footer>Sheridan College, 2019</footer>
</body>
</html>
