<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="problem" type="ca.javateacher.multquiz3.MultProblem"*/-->
<head>
    <meta charset="UTF-8">
    <title>Input Answer</title>
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet"  type="text/css"/>
</head>
<body>
<main>
    <h1>Multiplication Quiz 3</h1>
    <h2>Problem</h2>
    <h3>Enter your answer</h3>
    <form th:action="@{CheckAnswer.do}" action="RightAnswer.html" method="get" >
        <p>
            <label for="answer" class="problem_text">
                <span th:text="${session.problem.a}" class="number">2</span>
                    &times;
                <span th:text="${session.problem.b}" class="number">2</span> =
            </label>
            <input id="answer" type="text" name="userAnswer"/>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</main>
<footer>Sheridan College, 2019</footer>
</body>
</html>
